@media screen and (min-width: 900px) {
	article {
		padding: 1rem 3rem;
	}
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

/* mise en page du logo */
img {
	max-width: 100px;
	border-radius: 30px;
	margin: 5px 50px;
}
/* mise en page de la barre de navigation */
nav {
	margin-bottom: 10px;
}
.nav-link {
	color: black;
}
.nav-link:hover {
	color: #54dffe;
}

.navbar {
	background-color: #ffc400;
}
/* mise en page des titres de chaque page */
h3 {
	text-align: center;
}
/* mise en page du footer */
footer {
	text-align: center;
	font-size: x-small;
	background-color: #ffc300;
	padding: 5px 0;
	margin-top: 5px;
	align-items: end;
}
/* mise en page de la partie de connexion et d'inscription */
.log {
	text-align: center;
}
/* mise en page des formulaires */
form {
	margin: 15px 0;
	box-shadow: 5px 5px 10px 2px #54dffe;
}
/* mise en page de l'accueil */
#services, #avis {
	background-color: #ffc40042;
	padding: 10px 100px;
	border-radius: 20px;
	margin: 10px 0;
}
#temoignages {
	background-color: #ffc40042;
	box-shadow: 5px 5px 10px 2px #54dffe;
	padding: 10px 100px;
	border-radius: 20px;
	margin: 10px 0;
}
/* mise en page des cours */
.cours {
	background-color: #54dffe48;
	border-radius: 30px;
	margin: 20px 0;
	padding: 40px 0;
}
.cours h5 {
	color: #ffc300;
}
.info_cours {
	font-style: italic;
}
/* mise en page du recap de devis et d'inscription de cours */
.recap{
	background-color: #54dffe48;
	border-radius: 30px;
	margin-top: 50px;
	padding: 80px 10px;
	text-align: center;
	align-items: center;
	display:flex;
	justify-content: center;
	height:500px;
}

/* mise en page des coordonnées de l'entreprise */

.contact{
	margin-top: 20px;
}
.contact p{
	font-size:small;
}